# ignore system files
.DS_Store

# ignore data dirs
/airflow/data/*
/postgres/data/*
/redis/data/*

# ignore override setting file
docker-compose.override.yml

# don't ignore .gitkeep
!.gitkeep

# don't ignore sample config
!/airflow/data/airflow.cfg.sample
